@media only screen and (max-width: 1024px){
    .mycoloum{
        width: 100%;
        text-align: center;
      }
      
      .contact-image{
       display: none; 
      }

      .myrow{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .mybuttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .myrow{
        width: 100%;
      }
}


















@media only screen and (max-width: 540px) {
    .image-box  {
        margin-top: 30px;
    }

    .brand-logos > div {
        margin-top: 25px;
    }

    .mycoloum{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .email{
      width: 100%;
    }

    .news{
      width: 100%;
    }
}


