* {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .theme-btn-outlined {
    padding: 10px 20px;
    border-radius: 12px;
  }
  
  .btn-theme-black {
    background-color: #191a23;
    color: #fff;
    font-size: 12px;
    padding: 10px 30px;
  }
  
  .btn-theme-black:hover {
    background-color: #191a23;
    color: #fff;
  }
  
  .main-header-content {
    gap: 25px;
  }
  
  .image-box > img {
    width: 100%;
  }
  
  .brand-logos > div > img {
      filter: grayscale(1);
  }

  .mycoloum{
    width: 60%;
    text-align: center;
  }
  
  
.services{
    font-size: 1rem;
    font-weight: bold;
    background-color: #B9FF66;
    color: #000;
    border-radius: 0.5rem;
}
p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #333;
}


.card-title {
  margin-bottom: 0;
}

.card {
  overflow: hidden;
}

.card a {
  color: #000;
  font-weight: bold;
}

.card img {
  max-height: 100px;
  object-fit: contain;
}

.mycolor{
  background-color: #B9FF66;
}

.mycolor-1{
  background-color: white;
}

.marg{
  margin-top: 90px;
}

.myAccordion{
 margin-top: 30px;
}

.myAccordion-first{
   background-color: #B9FF66 !important; 
}

.colorgray{
  background-color: #F3F3F3;
}

.container-contact {
  background-color: #F3F3F3;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.form-group label {
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.form-group textarea {
  height: 150px;
}

.btn-primary {
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: black;
}

/* footer */


.footer{
  background-color: #191A23;
  padding: 20px;
}